body{
    margin: 20px;
    font-size: large;
}
header{
    background-color: rgb(18,18,77);
    color: white;
    padding: 10px;
    text-align: center;
}

/**.pages{
    margin-top: 0.5rem;
}**/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ol li{
    font-size: large;
    font-weight: 100;
    margin: 0 15px;
    padding: 0;
  }
  .exp{
    font-size: 2rem;
    font-weight: bolder;
  }
  nav ul li a:hover {
    color: rgb(25, 220, 25);
  }
nav li a:active{
    color: rgb(3, 48, 3);
}
  
  @media (max-width: 590px) {
    nav.pages ul {
      flex-direction: row; 
      flex-wrap: nowrap; 
    }
  }
  
  @media (min-width: 591px) and (max-width: 790px) {
    .container,
    .center-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 20px;
    }
    .contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .services {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 20px;
    }
  }
  
  @media (min-width: 791px) {
    body {
      background-color:#f0f0f0;
    }
    .container,
    .center-section,
    .contact,
    .services {
      max-width: 790px;
      margin: 0 auto;
    }
  }
  
  
  section {
    padding: 2rem;
  }
  
  .section-title {
    font-size: 2rem;
    margin: 1.5rem;
  }
  
  .about-us {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .para-section {
    border: solid;
    background-color: lightblue;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: black;
  }
  
  
.center-section {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    text-align: left;
    padding: 1rem;
  }
  
  .center-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px; 
  }
  
  .center-section ul li {
    flex: 1; 
    padding: 15px;
    border: solid 1px rgb(18, 18, 77);
    background-color: lightblue;
    border-radius: 8px;
    color: black;
    line-height: 1.6;
  }
  
  .center-section ul li strong {
    display: block; 
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  
  .vision-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  

  footer {
    background-color: rgb(18, 18, 77);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
  }
  
  .table,
  tr,
  td,
  th {
    border: 2px solid rgb(18, 18, 77);
  }
  