
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: large;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 77); 
    padding: 10px 20px;
}


.logo img {
    height: 50px; 
}

nav.pages ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav.pages ul li {
    margin-left: 20px;
}

nav.pages ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav.pages ul li a:hover {
    color: green; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"], input[type="tel"],
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgrey;
    outline: rgb(18, 18, 77);
}
input[type="reset"]{
    background-color: rgb(18, 18, 77);
    size: 100;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
button[type="submit"] {
    background-color: rgb(18, 18, 77);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

footer p {
    background-color: rgb(18, 18, 77);
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav.pages ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    nav.pages ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .contact h2 {
        font-size: 24px;
    }

    form input, form select, form textarea {
        font-size: 16px;
    }

    form button, form input[type="reset"] {
        font-size: 14px;
    }
}
