body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: rgb(18,18,77);
}
header{
    background-color: rgb(18,18,77);
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.pages{
    margin-top: 0.5rem;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
}
nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 1s;
}
nav li a:hover, nav li a:active{
    color: rgb(63, 95, 63);
}
nav ul li{
    margin-bottom: 1rem;
}
section{
    padding: 2rem;
}
.services{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section-title{
    font-size: 1.5rem;
    margin: 2rem;
}
.para-section{
    border: solid;
    border-color: rgbs(0, 0,  255, 0.5);
    background-color: lightblue;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: black;
    font-size: large;
}
footer{
    background-color: rgb(18,18,77);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
}
.list{
    border: solid;
    border-color: rgbs(0, 0,  255, 0.5);
    background-color: lightblue;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: black;
    font-size: large;
}
.list1{

}
table, th, td{
    border: 1px solid black;
}