body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 77); 
    padding: 10px 20px;
}

.logo img {
    height: 50px; 
}

nav.pages ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav.pages ul li {
    margin-left: 20px;
}

nav.pages ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

a:link {
    background-color: rgb(18, 18, 77);
  }
  
  a:visited {
    background-color:rgb(18, 18, 77);
  }
  
  a:hover {
    background-color: lightgreen;
  }

 a:active{
    background-color: rgb(20, 74, 20);
    color: white;
    text-decoration: underline;
}
section{
    padding: 2rem;
}
.services{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section-title{
    font-size: 1.5rem;
    margin: 2rem;
}
.para-section{
    border: solid;
    border-color: rgbs(0, 0,  255, 0.5);
    background-color: lightblue;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: black;
    font-size: large;
}
footer{
    background-color: rgb(18,18,77);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
}
.list{
    border: solid;
    border-color: rgbs(0, 0,  255, 0.5);
    background-color: lightblue;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: black;
    font-size: large;
    list-style-type: none;
}

table, th, td{
    border: 1px solid black;
}